---
http_interactions:
- request:
    method: get
    uri: https://playground.runa.io/v2/product
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 007bf6dc-f896-4d01-8afb-dffc048cf409
      X-Amzn-Remapped-Content-Length:
      - '1674'
      X-Api-Version:
      - '2024-02-05'
      X-Amz-Apigw-Id:
      - def9aF0AjoEEZkQ=
    body:
      encoding: ASCII-8BIT
      string: '{"catalog": [
          {
            "approval_state": "APPROVED",
            "discount_multiplier": "0.0050",
            "code": "ADAS-CZ",
            "name": "ADIDAS",
            "categories": [
              "leisure-and-sports"
            ],
            "countries_redeemable_in": [
              "CZ"
            ],
            "currency": "CZK",
            "customer_service": {
              "phone_number": null,
              "website_url": "https://www.adidas.cz/contact.html"
            },
            "state": "LIVE",
            "payout_type": "gift_card",
            "is_orderable": true,
            "availability": "realtime",
            "gift_card": {
              "barcode_format": "code-128",
              "e_code_usage_type": "url-only",
              "denominations": {
                "available_list": [
                  "500.00",
                  "1000.00"
                ],
                "minimum_value": "500.00",
                "maximum_value": "1000.00",
                "type": "fixed"
              },
              "redeemable_at": "online",
              "balance_check_url": null,
              "website_url": null,
              "assets": {
                "card_image_url": "https://gift.runa.io/static/product_assets/ADAS-CZ/ADAS-CZ-card.png",
                "icon_image_url": "https://gift.runa.io/static/product_assets/ADAS-CZ/ADAS-CZ-logo.png",
                "primary_color": "#FFFFFF"
              },
              "expiry": {
                "date_policy": "Expires 3 years from issue date",
                "in_months": 36,
                "type": "from-issue-date"
              },
              "content_resources": {
                "description_markdown_url": "https://d2vjldeiu1zgxb.cloudfront.net/resources/ADAS-CZ/description.md",
                "disclaimer_markdown_url": null,
                "locale": "cs_CZ",
                "refund_policy_markdown_url": "https://d2vjldeiu1zgxb.cloudfront.net/resources/ADAS-CZ/refund_policy_markdown.md",
                "reissuance_policy_markdown_url": "https://d2vjldeiu1zgxb.cloudfront.net/resources/ADAS-CZ/reissuance_policy_markdown.md",
                "terms_buyer_markdown_url": "https://d2vjldeiu1zgxb.cloudfront.net/resources/ADAS-CZ/terms_buyer.md",
                "terms_consumer_markdown_url": "https://d2vjldeiu1zgxb.cloudfront.net/resources/ADAS-CZ/terms_consumer.md",
                "redemption_instructions_markdown_url": "https://d2vjldeiu1zgxb.cloudfront.net/resources/ADAS-CZ/redeem_markdown.md"
              }
            }
          },
          {
            "approval_state": "APPROVED",
            "discount_multiplier": "0.1940",
            "code": "DZFM6-ES",
            "name": "Deezer Family",
            "categories": [
              "entertainment"
            ],
            "countries_redeemable_in": [
              "ES"
            ],
            "currency": "EUR",
            "customer_service": {
              "phone_number": null,
              "website_url": "https://support.deezer.com/hc/en-gb"
            },
            "state": "LIVE",
            "payout_type": "subscription",
            "is_orderable": true,
            "availability": "stocked",
            "subscription": {
              "redeemable_at": "online",
              "balance_check_url": null,
              "website_url": null,
              "assets": {
                "card_image_url": "https://gift.runa.io/static/product_assets/DZFM6-ES/DZFM6-ES-card.png",
                "icon_image_url": "https://gift.runa.io/static/product_assets/DZFM6-ES/DZFM6-ES-logo.png",
                "primary_color": "#FFFFFF"
              },
              "expiry": {
                "date_policy": "Expires 1 year from is[...]
